body {
  margin-top: 105px;
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("Roboto-Thin.ttf")
}

.dropdown-toggle: {
  display: none;
}

.navbar {
  box-shadow: 2px 2px 5px #992626;
  opacity: 0.9;
  background: #fff;
}

.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 1.4rem;
}

#showcase {
  position: relative;
  background: url("../img/uprintfondo.png");
  min-height: 600px;
}

#showcase .primary-overlay {
  background: rgba(50, 146, 166, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid;
}

#authors img {
  margin-top: -50px;
}

#authors .card:hover {
  background: #3292a6;
  color: #fff;
}

#authors .fab {
  color: #fff;
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;
  }

  #showcase h1 {
    font-size: 4rem;
  }

  .mb-resp {
    margin-bottom: 1rem;
  }
}

element.style {}

#shoppingBag {
  color: #3e5ff1;
}

@media (min-width: 992px) .d-lg-block {
  display: block !important;
}

#newsletter1 {
  margin-top: -40px;
}

.showInfo {
  cursor: pointer;
}

#logo3m {
  width: 2px;
  height: 2px;
}

#pepa {
  width: 350px;
  height: auto;

}

#first {
  display: block;
  background: url(../img/shelby.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 800px 450px;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 800px) {
  #first {
    display: block;
    background: url(../img/shelby.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 400px 255px;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

#first2 {
  display: block;
  background: url(../img/dif2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1300px 700px;
  width: 100%;
  height: auto;
}

#shelby11 {
  display: block;
  background: url(../img/shelbyblanco.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000px 500px;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#camaro11 {
  display: block;
  background: url(../img/camaroblanco.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000px 500px;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bannercrea {
  margin-top: -20px;
}

#productos3m {
  background: url(../img/jumboproductos1.png);
  background-size: 1290px 200px;
  background-repeat: no-repeat;
}

#productosmeg {
  background: url(../img/jumboproductos2.png);
  background-size: 1290px 200px;
  background-repeat: no-repeat;
}

#productoscrea1 {
  margin-top: -50px;
  margin-bottom: 50px;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.vertical-tab {
  font-family: 'Barlow', sans-serif;
  display: table;
}

.vertical-tab .nav-tabs {
  display: table-cell;
  width: 28%;
  min-width: 28%;
  vertical-align: top;
  border: none;
}

.vertical-tab .nav-tabs li {
  float: none;
  vertical-align: top;
}

.vertical-tab .nav-tabs li a {
  color: #8c0707;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 12px;
  margin: 0;
  border-radius: 0;
  border: none;
  transition: all 0.5s ease 0s;
}

.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li.active a:hover {
  color: #8c0707;
  background-color: transparent;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 0 0 5px #fff;
  border: none;
}

.vertical-tab .nav-tabs li a:before,
.vertical-tab .nav-tabs li a:after {
  content: '';
  background-color: #8c0707;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  transform: scale(0);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
}

.vertical-tab .nav-tabs li a:after {
  height: 4px;
  width: 0;
  border-radius: 0;
  transform: scale(1);
  bottom: 4px;
  left: 2px;
  transition: all 0.3s ease 0.1s;
}

.vertical-tab .nav-tabs li a:hover:before,
.vertical-tab .nav-tabs li.active a:before {
  transform: scale(1);
}

.vertical-tab .nav-tabs li a:hover:after,
.vertical-tab .nav-tabs li.active a:after {
  width: 100%;
}

.vertical-tab .tab-content {
  color: #fff;
  background-color: #8c0707;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 23px;
  padding: 10px 15px;
  border-radius: 0;
  display: table-cell;
  position: relative;
}

.vertical-tab .tab-content h3 {
  font-weight: 500;
  margin: 0 0 5px 0;
}

@media only screen and (max-width: 479px) {
  .vertical-tab .nav-tabs {
    width: 100%;
    display: block;
    border: none;
  }

  .vertical-tab .nav-tabs li a {
    padding: 12px 20px;
    margin: 0 0 8px;
  }

  .vertical-tab .tab-content {
    padding: 20px 15px 10px;
    display: block;
  }

  .vertical-tab .tab-content h3 {
    font-size: 18px;
  }
}

/* TAMAÑO ESCRITORIO */
@media screen and (max-width: 1370px) and (min-width: 640px) {
  #titulo1 {
    font-size: 40px;
  }

  #imagen1 {
    width: 150px;
  }

  #imagen2 {
    width: 150px;
  }
}

/* TAMAÑO MÓVIL */
@media screen and (max-width: 360px) {
  /* #banner1 {
    width: 360px;
    height: 270px;
  } */

  #contenedor1 {
    height: 100%;
  }

  #titulo1 {
    font-size: 16px;
  }

  #titulo2{
    font-size: 10px;
  }

  #imagen1 {
    width: 25px;
  }

  #imagen2 {
    width: 55px;
  }

  #boton1 {
    /* visibility: hidden; */
    display: none;
    width: 50px;
    height: 25px;
    font-size: 12px;
  }
}

#imgban1 {
  background-color: rgba(0, 0, 0, 0.4);
}